<ion-view view-title="">
  <ion-content>

    <div class="list card">

      <div class="item">
        <h1>{{ game.name }}</h1>
        <h2>{{ game.minplayers }} - {{ game.maxplayers }} <i class="icon ion-person-stalker"></i>, {{ game.maxplaytime }} <i class="icon ion-android-time"></i></h2>
      </div>

      <div class="item item-body">
        <img class="full-image" src="{{game.image_url}}" class="game-image">
        <span class="button button-small button-balanced game-tag" ng-repeat="category in game.categories | unique">{{ category }}</span>
        <span class="button button-small button-balanced game-tag" ng-repeat="mechanic in game.mechanics | unique">{{ mechanic }}</span>
        <p>
            {{ game.description }}
        </p>
        <p>
          <p class="subdued">BGG ID - {{ game.bgg_id }}</p>
        </p>
      </div>

    </div>
  </ion-content>
</ion-view>
