<ion-view view-title="{{ pageTitle }}">
  <ion-content has-header="true" has-subheader="true">
    <div class="bar item-input-inset">
      <button class="button button-icon button-clear ion-funnel" menu-toggle="left"></button>
      <div class="item-input-wrapper">
        <i class="icon ion-ios7-search placeholder-icon"></i>
        <input id="search.searchKey" type="search" placeholder="Search for a game" ng-model="search.searchKey" autocorrect="off" >
        <button class="button button-clear" ng-click="clearSearch()">X</button>
      </div>
      <button class="button button-clear" ng-click="searchFunc()">Search</button>
    </div>
    <ion-list>
      <!-- <div class="slide-animate-container"> -->
      <ion-item ng-repeat="game in library_games" href="#/app/games/{{game.id}}" class="item item-thumbnail-left card card-{{$index}}" on-swipe-left="cardSwipedLeft($index)" on-swipe-right="cardSwipedRight($index)" on-partial-swipe="cardPartialSwipe(amt)">
        <img src="{{ game.thumbnail_url }}">
        <h3> {{ game.name }}</h3>
        <h4>
          {{ game.minplayers }} - {{ game.maxplayers }} <i class="icon ion-person-stalker"></i>, {{ game.maxplaytime }} <i class="icon ion-android-time"></i>
        </h4>
          <span class="button button-small button-balanced game-tag">Category</span>
          <span class="button button-small button-positive game-tag">Mechanic</span>
          <p>{{ game.description }}</p>
      </ion-item>
      <!-- </div> -->
    </ion-list>

  </ion-content>
</ion-view>
