<ion-view view-title="Libraries">
  <ion-content has-header="true" has-subheader="true">
    <div class="bar item-input-inset">
    <button class="button button-clear" ng-show='search.gameList' ng-click="goBack()">Back</button>
      <div class="item-input-wrapper">
        <i class="icon ion-ios7-search placeholder-icon"></i>
        <input id="search.searchKey" type="search" placeholder="Enter a BGG Username..." ng-model="search.searchKey" autocorrect="off" >
        <button class="button button-clear" ng-click="clearSearch()">X</button>
      </div>
      <button class="button button-clear" ng-click="searchFunc()">Search</button>
    </div>

    <ion-list ng-show='search.libraryList'>
      <ion-item ng-repeat="library in search.items" type="item-text-wrap" ng-click="popGames(library.bgg_username)">
        <h4>{{ library.bgg_username }}</h4>
      </ion-item>
    </ion-list>

    <ion-list ng-show='search.gameList'>
      <ion-item ng-repeat="game in search.items" href="#/app/library/{{game.id}}">
        <h4> {{ game.name }}</h4>
      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>
