<ion-view view-title="Find A Library">
  <ion-content has-header="true" has-subheader="true">
    <div class="bar item-input-inset">
      <div class="item-input-wrapper">
        <i class="icon ion-ios7-search placeholder-icon"></i>
        <input id="search.searchKey" type="search" placeholder="Enter a BGG Username..." ng-model="search.searchKey" autocorrect="off" >
        <button class="button button-clear" ng-click="clearSearch()">X</button>
      </div>
      <button class="button button-clear" ng-click="searchFunc()">Search</button>
    </div>
    <ion-list ng-show='search.is_libraryList'>
      <ion-item ng-repeat="library in search.items" type="item-text-wrap" href="#/app/libraries/{{library.bgg_username}}">
        <h2>{{ library.bgg_username }}</h2>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
