<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content drag-content="false">
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="right">
        </button>
      </ion-nav-buttons>

      <!-- <ion-nav-buttons side="left" ng-show="search.is_gameList">
        <button class="button button-icon button-clear ion-funnel" menu-toggle="left">
        </button>
      </ion-nav-buttons> -->

    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="right">
    <ion-header-bar class="bar-stable">
      <h1 class="title">Menu</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item nav-clear menu-close ng-click="logout()">
          Logout
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/search">
          Find A Library
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>


  <ion-side-menu side="left" ng-show="search.is_gameList">
    <ion-header-bar class="bar-stable">
      <h1 class="title">Filter</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item nav-clear ng-show="search.is_gameList" class="item item-icon-left">
          <input type="text" ng-model="filter.numPlayers" placeholder="# Players">
            <i class="icon ion-person-stalker"></i>
          </input>
        </ion-item>

        <ion-item nav-clear ng-show="search.is_gameList" class="item item-icon-left">
          <input type="text" ng-model="filter.playTime" placeholder="Max Play Time">
            <i class="icon ion-android-time"></i>
          </input>
        </ion-item>

        <ion-item nav-clear ng-show="search.is_gameList" class="item item-icon-left">
          <input type="text" ng-model="filter.categories" placeholder="Category">
            <i class="icon ion-ios-pricetags"></i>
          </input>
        </ion-item>

        <ion-item nav-clear ng-show="search.is_gameList" class="item item-icon-left">
          <input type="text" ng-model="filter.mechanics" placeholder="Mechanic">
           <i class="icon ion-gear-b"></i>
          </input>
        </ion-item>

        <ion-item nav-clear ng-show="search.is_gameList" class="item item-icon-left">
          <input type="text" ng-model="search.another_bgg_username" placeholder="Another Library">
           <i class="icon ion-gear-b"></i>
          </input>
        </ion-item>

        <button class="button icon-left ion-funnel button-positive" ng-click="filterValidFilters()" ng-show="search.is_gameList" menu-close>
          Filter
        </button>
        <button class="button icon-right button-negative" ng-click="clearSearch()">Clear</button>
        <button class="button icon-right button-negative" ng-click="addAnotherLibrary(search)">Add Library</button>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
