<ion-modal-view>
  <ion-header-bar class="bar-stable">
    <h1 class="title"><strong>Welcome to gameFinder<strong></h1>

    <div class="buttons">
      <button class="button button-clear" ng-click="closeWelcome()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <h1 ng-model="message"></h1>
    <form ng-submit="newLibrary(user)">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">BGG Username</span>
          <ion-item>
            <input type="text" ng-model="user.bgg_username"/>
          </ion-item>
        </label>

        <label class="item">
          <button class="button button-block button-positive" type="submit">Submit</button>
        </label>
      </div>

    </form>
  </ion-content>
</ion-modal-view>
