/* Empty. Add your own CSS if you like */

.button-small.game-tag {
  padding: 0px 3px 0px;
  min-width: 15px;
  min-height: 7px;
  font-size: 10px;
  line-height: 14px;
}

.item.item-thumbnail-left.card {
  background-color: white !important;
}

.item-thumbnail-left .item-content {
  padding-left: 50px;
}

/*.deleting {
  background-color: #ff6666 !important;
}*/
