/* Empty. Add your own CSS if you like */

h1 {
  font-size: 5.9vw;
}

h2 {
  font-size: 3.0vh;
}

p {
  font-size: 2vmin;
}

.button-small.game-tag {
  padding: 0px 3px 0px;
  min-width: 15px;
  min-height: 7px;
  font-size: 10px;
  line-height: 14px;
}

.item.item-thumbnail-left.card {
  background-color: white !important;
}

.item-thumbnail-left .item-content {
  padding-left: 0px;
}

.game-image {
  max-height: 200px;
  max-width: 50%;
}

.center-text {
  padding-top: 10px;
  text-align: center;
}

/*.deleting {
  background-color: #ff6666 !important;
}*/
